@import '../../styles/mixins/mediaQueries';
.container {
  text-align: center;
  margin: 120px auto;
  max-width: 700px;
  @include mobile {
    margin: 100px auto;
  }
  h1 {
    font-size: 28px;
  }
  button {
    margin: 10px 0;
    border-radius: 7px;
    padding: 7px;
    border: 2px solid #f9ffff;
    background: linear-gradient(to right, #f9ffff 50%, #012c32 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }
  button:hover {
    background-position: left bottom;
    color: #012c32;
  }
}
