@import '../../styles/mixins/mediaQueries';
.grid {
  display: grid;
  margin: 0 100px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  @include mobile {
    margin: 50px auto;
  }
}

.progressBar {
  width: 100%;
  background-color: #f9ffff !important;
  color: red;
}
