@import '../../styles/mixins/mediaQueries';
.formContainer {
  max-height: 75vh;
  overflow-y: scroll;
  margin: 0 3 rem;
  @include mobile {
    max-height: 80vh;
    margin: 0;
  }
  .form {
    color: #f9ffff !important;
    width: 100%;
    .submitButton {
      background-color: #f9ffff;
      color: #001c30;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f9ffff;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
  }
}
